body {
    width: 100vw;
    height: 100vh;
    min-width: var(--body-min-width);
    min-height: var(--body-min-height);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: none;
}

/* BACKGROUND */
#background {
    background-color: #f1f3f4;
    height: 100%;
    width: 100vw;
    min-width: var(--body-min-width);
    min-height: var(--body-min-height);
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: -500;
}

/* CONTAINER */
#container {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* MENU */
#iframe_menu {
    flex: 22;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    border: none;
    border-right: solid;
    border-width: 1px;
    border-color: lightgray;
}

.dummy_div {
    flex: 9;
}



/* PATIENT LIST */
#patient_list {
    flex: 50;
    height: 90vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 1em;
}

    #patient_list a {
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        width: 100%;
        height: 8vw;
        min-height: calc(var(--vw) * 8);
    }

    #patient_list p {
        display: none;
        text-align: center;
        font-style: italic;
        font-size: xx-large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
    }

    #patient_list #patient_list_header {
        width: 100%;
        height: 10vh;
        min-height: calc(var(--vh) * 10);
        display: flex;
        background: #344152;
        padding: 0px;
        margin: 0px;
        align-items: center;
        justify-content: center;
    }

        #patient_list #patient_list_header img {
            flex: 4;
            object-fit: contain;
            height: 10vh;
            min-height: calc(var(--vh) * 7);
            margin: auto;
        }

        #patient_list #patient_list_header #searchbox {
            flex: 10;
            height: 3vh;
            min-height: calc(var(--vh) * 3);
            align-self: center;
            align-items: center;
            display: flex;
            margin-right: 2em;
        }

            #patient_list #patient_list_header #searchbox #searchbox_text {
                padding: 5px;
                height: 100%;
                max-height: 100%;
                width: 100%;
                text-align: center;
                border-radius: 8px;
                outline: none;
                border: solid;
                border-color: #aaa;
                border-width: 1px;
            }

                #patient_list #patient_list_header #searchbox #searchbox_text :focus {
                    background-color: black;
                }

ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-y: auto;
    align-content: center;
    align-self: center;
}

li {
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 8vw;
    min-height: calc(var(--vw) * 8);
    border-top: solid;
    border-color: grey;
    border-width: 1px;
    transition: 0.4s;
}

    li:last-child {
        border-bottom-left-radius: 2vh;
        border-bottom-right-radius: 2vh;
    }

    li:hover {
        background: #ccc;
    }

    li:active {
        background: #bbb;
    }

.patient_list_profile {
    margin-left: 10px;
    object-fit: cover;
    width: 6.75vw;
    height: 6.75vw;
    min-width: calc(var(--vw) * 6.75);
    min-height: calc(var(--vw) * 6.75);
    pointer-events: all;
    cursor: pointer;
    transition: .3s ease;
}

.patient_list_name {
    flex: 75;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    pointer-events: none;
}

.patient_list_remove {
    flex: 5;
    object-fit: contain;
    height: 2vw;
    min-height: calc(var(--vw) * 3);
    margin-right: 1em;
    cursor: pointer;
    align-self: center;
    transition: 0.4s;
}

    .patient_list_remove:hover {
        filter: invert(18%) sepia(99%) saturate(7474%) hue-rotate(0deg) brightness(104%) contrast(113%);
    }